.container {
  padding-top: 3rem;
}

.row {
  margin-bottom: 1.5rem;
}

form {
  text-align: center;
}

.btn, .btn:disabled:hover {
  background-color: #009688;
  border-color: #009688;
  margin-left: .4345rem;
}

.from-control:focus {
  border-color: #009688;
}

.btn:hover {
  background-color: #00796B;
  border-color: #00796B;
}

i {
  padding-right: .5rem;
}

h5 {
  color: #CCC;
  text-align: center;
  margin: 3rem 0 0;
}
