<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="form-inline" (ngSubmit)="addTask()" #taskForm="ngForm">
        <div class="form-group">
          <label for="content-field" class="sr-only"></label>
          <input class="form-control" id="content-field" placeholder="Enter a task..." type="text" [(ngModel)]="currentTask.content" name="content" required />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <app-card *ngFor="let task of tasks" [task]="task"></app-card>
    <h5 *ngIf="tasks.length === 0">Add your first task!</h5>
  </div>
</div>
