.card {
  border-radius: 0;
  cursor: pointer;
}

.card.completed, .card.completed .card-footer, .card.completed i {
  background-color: #EEE;
  color: #CCC;
}

.card, .card-footer {
  background-color: #ffffA5;
  border: none;
}

.card-footer {
  text-align: right;
}

i {
  color: #CC0000;
  padding: 0 .5rem 0 0;
}
